@import url("./animations.css");
@import url("./../bootstrap/css/bootstrap.css");

body {
    background: url("./../data/images/background.png") no-repeat center center fixed,
    linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

p, a { 
    font-family: "Trebuchet MS";
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    text-align: center;
    line-height: 1.5;
}

#header-text {
    padding: 2.5vmin;
    font-size: 5vmax;
}

#main-menu {
    padding: 10px;
}

#settings-menu {
    position: fixed;
    right: 0px;
    background-color: #00000050;
    box-shadow: 0px 10px 13px -7px #000000, 13px 9px 9px 0px rgba(0,0,0,0);
    z-index: 1;
    overflow: hidden;
    width: 0px;
}

#settings-menu *{
    margin: 5px;
    padding: 0 5% 0 5%;
    max-width: 60vmin;
}

#hear-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    transition: all 0.2s;
}

#hear-button:hover {
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}

#picker {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#output-hex-text {
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#output-hex-text:hover {
    opacity: 75%;
}

#output-name-text {
    height: 200px;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #000000;
    cursor: pointer;
    vertical-align: middle;
    line-height: 150px; 
}

#settings-icon {
    content: url("./../data/images/settings_icon.png");
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    right: 0;
}

#settings-icon:hover {
    opacity: 50%;
}

#settings-title {
    font-size: 25px;
}

#info-menu {
    background-color: rgba(0, 0, 0, 0.438);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin: 1vmax;
    padding-top: 2.5vmin;
}

.info-menu-header {
    font-size: 30px;
    font-weight: bolder;
    filter: invert(100%);
    margin: 10px;
    padding: 10px 0 0 0;
}

.info-text {
    color: #FFFFFF;
    text-align: start;
    margin: 1.5vmax;
    padding: 2.5vmin;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.157); 
    border-style: solid;   
    border-radius: 10px;
    border-width: 1px;
}

#col-breaker {
    display: none;
}

@media screen and (max-width: 700px) {
    #settings-menu {
      left: 0px;
      width: auto;
      height: 0px;
      position: fixed;
    }

    #settings-menu * {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #col-breaker {
        display: inline;
    }
}

/* USE THIS FOR DEBUGING */

/* .test-row {
    border-width: 3px;
    border-style: solid;
    border-color: yellow;
}


.test-col {
    border-width: 3px;
    border-style: solid;
    border-color: red;
} */